@page
@model WEB_ManageCourt.Pages.Profile.ProfileModel
@{
    ViewData["Title"] = "Trang Cá Nhân";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h4 class="text-center mb-4">
                        <i class="fas fa-user"></i> Thông tin cá nhân
                    </h4>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <table class="table">
                        <tr>
                            <th>Tên đăng nhập</th>
                            <td>@Model.CurrentUser.Username</td>
                        </tr>
                        <tr>
                            <th>Họ và Tên</th>
                            <td>@Model.CurrentUser.FullName</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.CurrentUser.Email</td>
                        </tr>
                        <tr>
                            <th>Số điện thoại</th>
                            <td>@Model.CurrentUser.Phone</td>
                        </tr>
                    </table>

                    <div class="text-center">
                        <a asp-page="/Auth/EditProfile" class="btn btn-primary m-2">Chỉnh sửa thông tin</a>
                        <a asp-page="/Auth/ChangePassword" class="btn btn-warning m-2">Đổi mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>